h1 Create User

form(action="/users/create" method="POST")
    label(for="name") Name
    input(name="name" type="text")
    label(for="phone") Phone
    input(name="phone" type="text")
    button Create