.container {
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    padding: 0;
    list-style: none;
}

.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: #CCC;
}

.menu .has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}

.menu .submenu {
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}